<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.cryptopunks.crypton.account" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:theme="@style/AppTheme">
        <!-- You don't need to include android:required="false" if your app's
     minSdkVersion is 28 or higher. -->
        <uses-library android:name="android.test.runner"
            android:required="false" />
        <!-- For both of these declarations, you don't need to include
     android:required="false" if your app's minSdkVersion is 28
     or higher. -->
        <uses-library android:name="android.test.base"
            android:required="false" />
        <uses-library android:name="android.test.mock"
            android:required="false" />
    </application>
</manifest>
